* {
  box-sizing: border-box;
}
.background-green {
  background: green;
}

.list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.list-item {
  list-style: none;
  display: flex;
}
.list-item > a {
  padding: 20px;
  text-decoration: none;
  color: purple;
}
.list-item > a:hover {
  background: rgba(255, 255, 255, 0.7);
}
